html body hidden,
html body .hidden,
html body [hidden],
html body [hidden-temp],
html body [hidden-search],
html body [hidden-filter],
html body [hidden-paginator] {
	display: none !important;
}

[disabled] {
	pointer-events: none;
}

b-modal {
	display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99999;
    justify-content: center;
    align-items: center;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

b-modal:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: -1;
}

b-modal[black]:before {
	background: rgb(0 0 0 / .65);
}

b-modal[white]:before {
	background: rgb(255 255 255 / .65);
}

b-modal img {
	object-fit: none;
}

[b-select-wrapper] [b-select-item] {
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[b-select-wrapper] [b-select-item][active] {
	color: red;
}

[b-nav] {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[b-nav] [b-nav-top],
[b-nav] [b-nav-sub] {
	cursor: pointer;
}

[b-nav] [b-nav-sub] {
	display: none;
}
 
[b-table-wrapper] tr {
	display: none;
}