:root {
	/* System */
	--spaces: 0%;

	/* General */
	--text-color-black: rgb(44 44 51 / 1);
	--text-color-white: rgb(255 255 255 / 1);
	--text-color-gray: rgb(128 128 128 / 1);
	--text-color-blue: rgb(0 102 204 / 1);

	--background-color-black: rgb(27 27 29 / 1); 
	--background-color-white: rgb(246 246 246 / 1);
	--background-color-orange: rgb(241 196 15 / 1);

	--border-color-black: rgb(179 179 179 / 1);
	--border-color-white: rgb(227 227 232 / 1);

	--border-radius-s: 4px;
	--border-radius-m: 6px;
	--border-radius-l: 25px;

	--font-size-s: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;
	--font-size-4: 20px;
	--font-size-3: 26px;
	--font-size-2: 32px;
	--font-size-1: 48px;

	/* Body */
	--body-background-color: var(--background-color-white);
	--body-text-color: var(--text-color-black);
	--body-font-size: var(--font-size-m);
	--body-font-weight: 400;
	--body-letter-spacing: unset;
	--body-line-height: unset;
	--body-min-width: unset;
	
	/* Selection */
	--selection-text-color: unset;
	--selection-background-color: var(--background-color-orange);

	/* Placeholder */
	--placeholder-text-color: var(--text-color-gray);
	--placeholder-letter-spacing: unset;

	/* Links */
	--link-text-color: var(--text-color-blue);

	/* Headers */
	--h4-font-size: var(--font-size-4);
	--h3-font-size: var(--font-size-3);
	--h2-font-size: var(--font-size-2);
	--h1-font-size: var(--font-size-1);

	--h4-font-weight: 400;
	--h3-font-weight: 600;
	--h2-font-weight: 600;
	--h1-font-weight: 600;
}

/* --- */

*:not([type="checkbox"]),
::after,
::before {
	box-sizing: border-box;
    min-height: 0;
    min-width: 0;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

body {
	margin: 0;

	-webkit-text-size-adjust: none;
	-webkit-appearance: none;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	font-smooth: always;

	font-style: normal;
	overflow-x: hidden;
	overflow-y: scroll;
	cursor: auto;

	font-family: sans-serif;
	background-color: var(--body-background-color);
	color: var(--body-text-color);
	font-size: var(--body-font-size);
	font-weight: var(--body-font-weight);
	letter-spacing: var(--body-letter-spacing);
	line-height: var(--body-line-height);
	min-width: var(--body-min-width) !important;

	position: relative;
}

::selection {
	color: var(--selection-text-color);
	background: var(--selection-background-color);
}

::-moz-selection {
	color: var(--selection-text-color);
	background: var(--selection-background-color);
}

:-moz-placeholder {
	letter-spacing: var(--placeholder-letter-spacing);
	color: var(--placeholder-text-color);
	opacity: 1;
}

::-moz-placeholder {
	letter-spacing: var(--placeholder-letter-spacing);
	color: var(--placeholder-text-color);
	opacity: 1;
}

:-ms-input-placeholder {
	letter-spacing: var(--placeholder-letter-spacing);
	color: var(--placeholder-text-color);
	opacity: 1;
}

::-ms-input-placeholder {
	letter-spacing: var(--placeholder-letter-spacing);
	color: var(--placeholder-text-color);
	opacity: 1;
}

::-webkit-input-placeholder {
	letter-spacing: var(--placeholder-letter-spacing);
	color: var(--placeholder-text-color);
	opacity: 1;
}

::placeholder {
	letter-spacing: var(--placeholder-letter-spacing);
	color: var(--placeholder-text-color);
	opacity: 1;
}

a {
    text-decoration: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	outline: none;
	
	cursor: pointer;
	color: var(--link-text-color);
	border-bottom: 1px solid transparent;

	width: max-content;
    width: fit-content;
}

a:hover,
a[active] {
	border-bottom: 1px solid var(--link-text-color);
}

h1 {
	margin: 0;
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

h2 {
	margin: 0;
	font-size: var(--h2-font-size);
	font-weight: var(--h2-font-weight);
}

h3 {
	margin: 0;
	font-size: var(--h3-font-size);
	font-weight: var(--h3-font-weight);
}

h4 {
	margin: 0;
	font-size: var(--h4-font-size);
	font-weight: var(--h4-font-weight);
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* --- */

[onclick],
[ondblclick] {
	cursor: pointer;
}

[locked],
[disabled] {
	pointer-events: none !important;
}

[user-select-all] {
	-webkit-user-select: all;
	-moz-user-select: all;
	user-select: all;
}

[user-select-none] {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[user-select-text] {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

[overflow-hidden] {
	overflow: hidden !important;
}

[overflow-visible] {
	overflow: visible !important;
}

[overflow-scroll] {
	overflow: scroll !important;
}

[position-relative] {
	position: relative;
}

[position-absolute] {
	position: absolute;
}

[position-fixed] {
	position: fixed;
}

[position-sticky] {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

[invisible] {
	visibility: hidden;
}

[lowercase] {
	text-transform: lowercase !important;
}

[capitalize] {
	text-transform: capitalize !important;
}

[uppercase] {
	text-transform: uppercase !important;
}

[font-size-s] {
	font-size: var(--font-size-s) !important;
}

[font-size-m] {
	font-size: var(--font-size-m) !important;
}

[font-size-l] {
	font-size: var(--font-size-l) !important;
}

[font-size-4] {
	font-size: var(--font-size-4) !important;
}

[font-size-3] {
	font-size: var(--font-size-3) !important;
}

[font-size-2] {
	font-size: var(--font-size-2) !important;
}

[font-size-1] {
	font-size: var(--font-size-1) !important;
}

[font-weight-100] {
	font-weight: 100 !important;
}

[font-weight-200] {
	font-weight: 200 !important;
}

[font-weight-300] {
	font-weight: 300 !important;
}

[font-weight-400] {
	font-weight: 400 !important;
}

[font-weight-500] {
	font-weight: 500 !important;
}

[font-weight-600] {
	font-weight: 600 !important;
}

[font-weight-700] {
	font-weight: 700 !important;
}

[font-weight-800] {
	font-weight: 800 !important;
}

[font-weight-900] {
	font-weight: 900 !important;
}

strong,
[strong],
bold,
[bold] {
	font-weight: 600;
}

[italic] {
	font-style: italic;
}

[z-index-unset] {
	z-index: unset;
}

[z-index-0] {
	z-index: 0;
}

[z-index-1] {
	z-index: 1;
}

[z-index-2] {
	z-index: 2;
}

[z-index-3] {
	z-index: 3;
}

[z-index-4] {
	z-index: 4;
}

[z-index-5] {
	z-index: 5;
}

[z-index-6] {
	z-index: 6;
}

[z-index-7] {
	z-index: 7;
}

[z-index-8] {
	z-index: 8;
}

[z-index-9] {
	z-index: 9;
}

[letter-spacing-1] {
	letter-spacing: 1px !important;
}

[letter-spacing-2] {
	letter-spacing: 2px !important;
}

[letter-spacing-3] {
	letter-spacing: 3px !important;
}

[text-overflow] {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[text-strike] {
	text-decoration: line-through;
}

[opacity-0] {
	opacity: 0;
}

[opacity-5] {
	opacity: .05;
}

[opacity-10] {
	opacity: .1;
}

[opacity-15] {
	opacity: .15;
}

[opacity-20] {
	opacity: .2;
}

[opacity-25] {
	opacity: .25;
}

[opacity-30] {
	opacity: .3;
}

[opacity-33] {
	opacity: .33;
}

[opacity-35] {
	opacity: .35;
}

[opacity-40] {
	opacity: .4;
}

[opacity-45] {
	opacity: .45;
}

[opacity-50] {
	opacity: .5;
}

[opacity-55] {
	opacity: .55;
}

[opacity-60] {
	opacity: .6;
}

[opacity-65] {
	opacity: .65;
}

[opacity-66] {
	opacity: .66;
}

[opacity-70] {
	opacity: .7;
}

[opacity-75] {
	opacity: .75;
}

[opacity-80] {
	opacity: .8;
}

[opacity-85] {
	opacity: .85;
}

[opacity-90] {
	opacity: .9;
}

[opacity-95] {
	opacity: .95;
}

[opacity-100] {
	opacity: 1;
}

[height-auto] {
	height: auto !important;
}

[height-25] {
	height: 25% !important;
}

[height-50] {
	height: 50% !important;
}

[height-75] {
	height: 75% !important;
}

[height-100] {
	height: 100% !important;
}

[height-200] {
	height: 200% !important;
}

[min-height-100] {
	min-height: 100% !important;
}

[min-height-none] {
	min-height: none !important;
}

[max-height-100] {
	max-height: 100% !important;
}

[max-height-none] {
	max-height: none !important;
}

[max-height-unset] {
	max-height: unset !important;
}

[width-auto] {
	width: auto !important;
}

[width-25] {
	width: 25% !important;
}

[width-50] {
	width: 50% !important;
}

[width-75] {
	width: 75% !important;
}

[width-100] {
	width: 100% !important;
}

[width-200] {
	width: 200% !important;
}

[min-width-100] {
	min-width: 100% !important;
}

[min-width-none] {
	min-width: none !important;
}

[max-width-100] {
	max-width: 100% !important;
}

[max-width-none] {
	max-width: none !important;
}

[max-width-unset] {
	max-width: unset !important;
}

[margin-auto] {
	margin: auto !important;
}

[margin-0],
[margin-ft-0]:first-of-type,
[margin-lt-0]:last-of-type,
[margin-2n-0]:nth-of-type(2n),
[margin-3n-0]:nth-of-type(3n),
[margin-4n-0]:nth-of-type(4n),
[margin-5n-0]:nth-of-type(5n),
[margin-6n-0]:nth-of-type(6n) {
	margin: 0 !important;
}

[margin-1] {
	margin: 1px !important;
}

[margin-2] {
	margin: 2px !important;
}

[margin-3] {
	margin: 3px !important;
}

[margin-4] {
	margin: 4px !important;
}

[margin-5] {
	margin: 5px !important;
}

[margin-10] {
	margin: 10px !important;
}

[margin-15] {
	margin: 15px !important;
}

[margin-20] {
	margin: 20px !important;
}

[margin-30] {
	margin: 30px !important;
}

[margin-40] {
	margin: 40px !important;
}

[margin-50] {
	margin: 50px !important;
}

[margin-60] {
	margin: 60px !important;
}

[margin-70] {
	margin: 70px !important;
}

[margin-80] {
	margin: 80px !important;
}

[margin-top-auto],
[top-auto] {
	margin-top: auto !important;
	top: auto !important;
}

[margin-top-0],
[top-0],
[margin-top-ft-0]:first-of-type,
[margin-top-lt-0]:last-of-type,
[margin-top-2n-0]:nth-of-type(2n),
[margin-top-3n-0]:nth-of-type(3n),
[margin-top-4n-0]:nth-of-type(4n),
[margin-top-5n-0]:nth-of-type(5n),
[margin-top-6n-0]:nth-of-type(6n),
[top-ft-0]:first-of-type,
[top-lt-0]:last-of-type,
[top-2n-0]:nth-of-type(2n),
[top-3n-0]:nth-of-type(3n),
[top-4n-0]:nth-of-type(4n),
[top-5n-0]:nth-of-type(5n),
[top-6n-0]:nth-of-type(6n) {
	margin-top: 0 !important;
	top: 0 !important;
}

[top-1] {
	position: relative;
	top: 1px !important;
}

[top-2] {
	position: relative;
	top: 2px !important;
}

[top-3] {
	position: relative;
	top: 3px !important;
}

[top-4] {
	position: relative;
	top: 4px !important;
}

[margin-top-5],
[top-5] {
	margin-top: 5px !important;
}

[margin-top-10],
[top-10] {
	margin-top: 10px !important;
}

[margin-top-15],
[top-15] {
	margin-top: 15px !important;
}

[margin-top-20],
[top-20] {
	margin-top: 20px !important;
}

[margin-top-30],
[top-30] {
	margin-top: 30px !important;
}

[margin-top-40],
[top-40] {
	margin-top: 40px !important;
}

[margin-top-50],
[top-50] {
	margin-top: 50px !important;
}

[margin-top-60],
[top-60] {
	margin-top: 60px !important;
}

[margin-top-70],
[top-70] {
	margin-top: 70px !important;
}

[margin-top-80],
[top-80] {
	margin-top: 80px !important;
}

[margin-bottom-auto],
[bottom-auto] {
	margin-bottom: auto !important;
	bottom: auto !important;
}

[margin-bottom-0],
[bottom-0],
[margin-bottom-ft-0]:first-of-type,
[margin-bottom-lt-0]:last-of-type,
[margin-bottom-2n-0]:nth-of-type(2n),
[margin-bottom-3n-0]:nth-of-type(3n),
[margin-bottom-4n-0]:nth-of-type(4n),
[margin-bottom-5n-0]:nth-of-type(5n),
[margin-bottom-6n-0]:nth-of-type(6n),
[bottom-ft-0]:first-of-type,
[bottom-lt-0]:last-of-type,
[bottom-2n-0]:nth-of-type(2n),
[bottom-3n-0]:nth-of-type(3n),
[bottom-4n-0]:nth-of-type(4n),
[bottom-5n-0]:nth-of-type(5n),
[bottom-6n-0]:nth-of-type(6n) {
	margin-bottom: 0 !important;
	bottom: 0 !important;
}

[bottom-1] {
	position: relative;
	bottom: 1px !important;
}

[bottom-2] {
	position: relative;
	bottom: 2px !important;
}

[bottom-3] {
	position: relative;
	bottom: 3px !important;
}

[bottom-4] {
	position: relative;
	bottom: 4px !important;
}

[margin-bottom-5],
[bottom-5] {
	margin-bottom: 5px !important;
}

[margin-bottom-10],
[bottom-10] {
	margin-bottom: 10px !important;
}

[margin-bottom-15],
[bottom-15] {
	margin-bottom: 15px !important;
}

[margin-bottom-20],
[bottom-20] {
	margin-bottom: 20px !important;
}

[margin-bottom-30],
[bottom-30] {
	margin-bottom: 30px !important;
}

[margin-bottom-40],
[bottom-40] {
	margin-bottom: 40px !important;
}

[margin-bottom-50],
[bottom-50] {
	margin-bottom: 50px !important;
}

[margin-bottom-60],
[bottom-60] {
	margin-bottom: 60px !important;
}

[margin-bottom-70],
[bottom-70] {
	margin-bottom: 70px !important;
}

[margin-bottom-80],
[bottom-80] {
	margin-bottom: 80px !important;
}

[margin-left-auto],
[left-auto] {
	margin-left: auto !important;
	left: auto !important;
}

[margin-left-0],
[left-0],
[margin-left-ft-0]:first-of-type,
[margin-left-lt-0]:last-of-type,
[margin-left-2n-0]:nth-of-type(2n),
[margin-left-3n-0]:nth-of-type(3n),
[margin-left-4n-0]:nth-of-type(4n),
[margin-left-5n-0]:nth-of-type(5n),
[margin-left-6n-0]:nth-of-type(6n),
[left-ft-0]:first-of-type,
[left-lt-0]:last-of-type,
[left-2n-0]:nth-of-type(2n),
[left-3n-0]:nth-of-type(3n),
[left-4n-0]:nth-of-type(4n),
[left-5n-0]:nth-of-type(5n),
[left-6n-0]:nth-of-type(6n) {
	margin-left: 0 !important;
	left: 0 !important;
}

[left-1] {
	position: relative;
	left: 1px !important;
}

[left-2] {
	position: relative;
	left: 2px !important;
}

[left-3] {
	position: relative;
	left: 3px !important;
}

[left-4] {
	position: relative;
	left: 4px !important;
}

[left-5] {
	margin-left: 5px !important;
}

[margin-left-10],
[left-10] {
	margin-left: 10px !important;
}

[margin-left-15],
[left-15] {
	margin-left: 15px !important;
}

[margin-left-20],
[left-20] {
	margin-left: 20px !important;
}

[margin-left-30],
[left-30] {
	margin-left: 30px !important;
}

[margin-left-40],
[left-40] {
	margin-left: 40px !important;
}

[margin-left-50],
[left-50] {
	margin-left: 50px !important;
}

[margin-left-60],
[left-60] {
	margin-left: 60px !important;
}

[margin-left-70],
[left-70] {
	margin-left: 70px !important;
}

[margin-left-80],
[left-80] {
	margin-left: 80px !important;
}

[margin-right-auto],
[right-auto] {
	margin-right: auto !important;
	right: auto !important;
}

[margin-right-0],
[right-0],
[margin-right-ft-0]:first-of-type,
[margin-right-lt-0]:last-of-type,
[margin-right-2n-0]:nth-of-type(2n),
[margin-right-3n-0]:nth-of-type(3n),
[margin-right-4n-0]:nth-of-type(4n),
[margin-right-5n-0]:nth-of-type(5n),
[margin-right-6n-0]:nth-of-type(6n),
[right-ft-0]:first-of-type,
[right-lt-0]:last-of-type,
[right-2n-0]:nth-of-type(2n),
[right-3n-0]:nth-of-type(3n),
[right-4n-0]:nth-of-type(4n),
[right-5n-0]:nth-of-type(5n),
[right-6n-0]:nth-of-type(6n) {
	margin-right: 0 !important;
	right: 0 !important;
}

[right-1] {
	position: relative;
	right: 1px !important;
}

[right-2] {
	position: relative;
	right: 2px !important;
}

[right-3] {
	position: relative;
	right: 3px !important;
}

[right-4] {
	position: relative;
	right: 4px !important;
}

[margin-right-5],
[right-5] {
	margin-right: 5px !important;
}

[margin-right-10],
[right-10] {
	margin-right: 10px !important;
}

[margin-right-15],
[right-15] {
	margin-right: 15px !important;
}

[margin-right-20],
[right-20] {
	margin-right: 20px !important;
}

[margin-right-30],
[right-30] {
	margin-right: 30px !important;
}

[margin-right-40],
[right-40] {
	margin-right: 40px !important;
}

[margin-right-50],
[right-50] {
	margin-right: 50px !important;
}

[margin-right-60],
[right-60] {
	margin-right: 60px !important;
}

[margin-right-70],
[right-70] {
	margin-right: 70px !important;
}

[margin-right-80],
[right-80] {
	margin-right: 80px !important;
}

[margin-y-auto] {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

[margin-y-0],
[margin-y-ft-0]:first-of-type,
[margin-y-lt-0]:last-of-type,
[margin-y-2n-0]:nth-of-type(2n),
[margin-y-3n-0]:nth-of-type(3n),
[margin-y-4n-0]:nth-of-type(4n),
[margin-y-5n-0]:nth-of-type(5n),
[margin-y-6n-0]:nth-of-type(6n) {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

[margin-y-1] {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}

[margin-y-2] {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

[margin-y-3] {
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}

[margin-y-4] {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

[margin-y-5] {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

[margin-y-10] {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

[margin-y-15] {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

[margin-y-20] {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

[margin-y-30] {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

[margin-y-40] {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

[margin-y-50] {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

[margin-y-60] {
	margin-top: 60px !important;
	margin-bottom: 60px !important;
}

[margin-y-70] {
	margin-top: 70px !important;
	margin-bottom: 70px !important;
}

[margin-y-80] {
	margin-top: 80px !important;
	margin-bottom: 80px !important;
}

[margin-x-auto] {
	margin-left: auto !important;
	margin-right: auto !important;
}

[margin-x-0],
[margin-x-ft-0]:first-of-type,
[margin-x-lt-0]:last-of-type,
[margin-x-2n-0]:nth-of-type(2n),
[margin-x-3n-0]:nth-of-type(3n),
[margin-x-4n-0]:nth-of-type(4n),
[margin-x-5n-0]:nth-of-type(5n),
[margin-x-6n-0]:nth-of-type(6n) {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

[margin-x-1] {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

[margin-x-2] {
	margin-left: 2px !important;
	margin-right: 2px !important;
}

[margin-x-3] {
	margin-left: 3px !important;
	margin-right: 3px !important;
}

[margin-x-4] {
	margin-left: 4px !important;
	margin-right: 4px !important;
}

[margin-x-5] {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

[margin-x-10] {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

[margin-x-15] {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

[margin-x-20] {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

[margin-x-30] {
	margin-left: 30px !important;
	margin-right: 30px !important;
}

[margin-x-40] {
	margin-left: 40px !important;
	margin-right: 40px !important;
}

[margin-x-50] {
	margin-left: 50px !important;
	margin-right: 50px !important;
}

[margin-x-60] {
	margin-left: 60px !important;
	margin-right: 60px !important;
}

[margin-x-70] {
	margin-left: 70px !important;
	margin-right: 70px !important;
}

[margin-x-80] {
	margin-left: 80px !important;
	margin-right: 80px !important;
}

[padding-0] {
	padding: 0 !important;
}

[padding-1] {
	padding: 1px !important;
}

[padding-2] {
	padding: 2px !important;
}

[padding-3] {
	padding: 3px !important;
}

[padding-4] {
	padding: 4px !important;
}

[padding-5] {
	padding: 5px !important;
}

[padding-10] {
	padding: 10px !important;
}

[padding-15] {
	padding: 15px !important;
}

[padding-20] {
	padding: 20px !important;
}

[padding-30] {
	padding: 30px !important;
}

[padding-40] {
	padding: 40px !important;
}

[padding-50] {
	padding: 50px !important;
}

[padding-60] {
	padding: 60px !important;
}

[padding-70] {
	padding: 70px !important;
}

[padding-80] {
	padding: 80px !important;
}

[padding-top-0] {
	padding-top: 0 !important;
}

[padding-top-1] {
	padding-top: 1px !important;
}

[padding-top-2] {
	padding-top: 2px !important;
}

[padding-top-3] {
	padding-top: 3px !important;
}

[padding-top-4] {
	padding-top: 4px !important;
}

[padding-top-5] {
	padding-top: 5px !important;
}

[padding-top-10] {
	padding-top: 10px !important;
}

[padding-top-15] {
	padding-top: 15px !important;
}

[padding-top-20] {
	padding-top: 20px !important;
}

[padding-top-30] {
	padding-top: 30px !important;
}

[padding-top-40] {
	padding-top: 40px !important;
}

[padding-top-50] {
	padding-top: 50px !important;
}

[padding-top-60] {
	padding-top: 60px !important;
}

[padding-top-70] {
	padding-top: 70px !important;
}

[padding-top-80] {
	padding-top: 80px !important;
}

[padding-bottom-0] {
	padding-bottom: 0 !important;
}

[padding-bottom-1] {
	padding-bottom: 1px !important;
}

[padding-bottom-2] {
	padding-bottom: 2px !important;
}

[padding-bottom-3] {
	padding-bottom: 3px !important;
}

[padding-bottom-4] {
	padding-bottom: 4px !important;
}

[padding-bottom-5] {
	padding-bottom: 5px !important;
}

[padding-bottom-10] {
	padding-bottom: 10px !important;
}

[padding-bottom-15] {
	padding-bottom: 15px !important;
}

[padding-bottom-20] {
	padding-bottom: 20px !important;
}

[padding-bottom-30] {
	padding-bottom: 30px !important;
}

[padding-bottom-40] {
	padding-bottom: 40px !important;
}

[padding-bottom-50] {
	padding-bottom: 50px !important;
}

[padding-bottom-60] {
	padding-bottom: 60px !important;
}

[padding-bottom-70] {
	padding-bottom: 70px !important;
}

[padding-bottom-80] {
	padding-bottom: 80px !important;
}

[padding-left-0] {
	padding-left: 0 !important;
}

[padding-left-1] {
	padding-left: 1px !important;
}

[padding-left-2] {
	padding-left: 2px !important;
}

[padding-left-3] {
	padding-left: 3px !important;
}

[padding-left-4] {
	padding-left: 4px !important;
}

[padding-left-5] {
	padding-left: 5px !important;
}

[padding-left-10] {
	padding-left: 10px !important;
}

[padding-left-15] {
	padding-left: 15px !important;
}

[padding-left-20] {
	padding-left: 20px !important;
}

[padding-left-30] {
	padding-left: 30px !important;
}

[padding-left-40] {
	padding-left: 40px !important;
}

[padding-left-50] {
	padding-left: 50px !important;
}

[padding-left-60] {
	padding-left: 60px !important;
}

[padding-left-70] {
	padding-left: 70px !important;
}

[padding-left-80] {
	padding-left: 80px !important;
}

[padding-right-0] {
	padding-right: 0 !important;
}

[padding-right-1] {
	padding-right: 1px !important;
}

[padding-right-2] {
	padding-right: 2px !important;
}

[padding-right-3] {
	padding-right: 3px !important;
}

[padding-right-4] {
	padding-right: 4px !important;
}

[padding-right-5] {
	padding-right: 5px !important;
}

[padding-right-10] {
	padding-right: 10px !important;
}

[padding-right-15] {
	padding-right: 15px !important;
}

[padding-right-20] {
	padding-right: 20px !important;
}

[padding-right-30] {
	padding-right: 30px !important;
}

[padding-right-40] {
	padding-right: 40px !important;
}

[padding-right-50] {
	padding-right: 50px !important;
}

[padding-right-60] {
	padding-right: 60px !important;
}

[padding-right-70] {
	padding-right: 70px !important;
}

[padding-right-80] {
	padding-right: 80px !important;
}

[padding-y-0] {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

[padding-y-1] {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}

[padding-y-2] {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

[padding-y-3] {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

[padding-y-4] {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

[padding-y-5] {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

[padding-y-10] {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

[padding-y-15] {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

[padding-y-20] {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

[padding-y-30] {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

[padding-y-40] {
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

[padding-y-50] {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

[padding-y-60] {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}

[padding-y-70] {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
}

[padding-y-80] {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

[padding-x-0] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

[padding-x-1] {
	padding-left: 1px !important;
	padding-right: 1px !important;
}

[padding-x-2] {
	padding-left: 2px !important;
	padding-right: 2px !important;
}

[padding-x-3] {
	padding-left: 3px !important;
	padding-right: 3px !important;
}

[padding-x-4] {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

[padding-x-5] {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

[padding-x-10] {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

[padding-x-15] {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

[padding-x-20] {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

[padding-x-30] {
	padding-left: 30px !important;
	padding-right: 30px !important;
}

[padding-x-40] {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

[padding-x-50] {
	padding-left: 50px !important;
	padding-right: 50px !important;
}

[padding-x-60] {
	padding-left: 60px !important;
	padding-right: 60px !important;
}

[padding-x-70] {
	padding-left: 70px !important;
	padding-right: 70px !important;
}

[padding-x-80] {
	padding-left: 80px !important;
	padding-right: 80px !important;
}

/* --- */

@media (min-width: 0) {
	body hidden,
	body .hidden,
	body [hidden],
	body [hidden-temp],
	body [hidden-search],
	body [hidden-filter],
	body [hidden-paginator] {
		display: none !important;
	}
}

@media (max-width: 575px) {
    body [hidden-mobile],

	body [hidden-less-s],
	body [hidden-less-m],
	body [hidden-less-l],
	body [hidden-less-x] {
        display: none !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
	body [hidden-less-s],
	body [hidden-less-m],
	body [hidden-less-l],
	body [hidden-less-x],

	body [hidden-more-s] {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body [hidden-less-m],
	body [hidden-less-l],
	body [hidden-less-x],

	body [hidden-more-s],
	body [hidden-more-m]  {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body [hidden-less-l],
	body [hidden-less-x],

	body [hidden-more-s],
	body [hidden-more-m],
	body [hidden-more-l] {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    body [hidden-less-x],

	body [hidden-more-s],
	body [hidden-more-m],
	body [hidden-more-l],
	body [hidden-more-x] {
        display: none !important;
    }
}

/* --- */

@media (min-width: 0) {
	[text-align-left] {
		text-align: left !important;
	}

	[text-align-right] {
		text-align: right !important;
	}

	[text-align-center] {
		text-align: center !important;
	}

	flex,
	[flex] {
		display: flex;
	}

	inline,
	[inline] {
		display: inline-flex;
	}

	row,
	[row] {
		display: flex !important;
		flex-direction: row;
		width: 100%;
	}

	column,
	[column] {
		display: flex !important;
		flex-direction: column;
		width: 100%;
	}

	[top] {
		margin-bottom: auto;
	}

	[bottom] {
		margin-top: auto;
	}

	[left] {
		margin-right: auto;
	}

	[right] {
		margin-left: auto;
	}

	[wrap] {
		flex-wrap: wrap;
	}

	[wrap-reverse] {
		flex-wrap: wrap-reverse;
	}

	[no-wrap] {
		flex-wrap: nowrap;
	}

	[justify-content-start] {
		justify-content: flex-start;
	}

	[justify-content-end] {
		justify-content: flex-end;
	}

	[justify-content-center] {
		justify-content: center;
	}

	[justify-content-between] {
		justify-content: space-between;
	}

	[justify-content-around] {
		justify-content: space-around;
	}

	[justify-content-evenly] {
		justify-content: space-evenly;
	}

	[align-items-start] {
		align-items: flex-start;
	}

	[align-items-end] {
		align-items: flex-end;
	}

	[align-items-center] {
		align-items: center;
	}

	[align-items-baseline] {
		align-items: baseline;
	}

	[align-items-stretch] {
		align-items: stretch;
	}

	[align-self-start] {
		align-self: flex-start;
	}

	[align-self-end] {
		align-self: flex-end;
	}

	[align-self-center] {
		align-self: center;
	}

	[align-self-baseline] {
		align-self: baseline;
	}

	[align-self-stretch] {
		align-self: stretch;
	}

	[align-content-start] {
		align-content: flex-start;
	}

	[align-content-end] {
		align-content: flex-end;
	}

	[align-content-center] {
		align-content: center;
	}

	[align-content-around] {
		align-content: space-around;
	}

	[align-content-stretch] {
		align-content: stretch;
	}

	[flex-grow-0] {
		flex-grow: 0 !important;
	}

	[flex-grow-1] {
		flex-grow: 1 !important;
	}

	[flex-shrink-0] {
		flex-shrink: 0 !important;
	}

	[flex-shrink-1] {
		flex-shrink: 1 !important;
	}

	[fill] {
		flex-grow: 1 !important;
    	flex-shrink: 1 !important;
    	flex-basis: auto !important;
	}

	[fixed] {
		flex-grow: 0 !important;
		flex-shrink: 0 !important;
	}

	[order-first] {
		order: -1 !important;
	}

	[order-1] {
		order: 1 !important;
	}

	[order-2] {
		order: 2 !important;
	}

	[order-3] {
		order: 3 !important;
	}

	[order-4] {
		order: 4 !important;
	}

	[order-5] {
		order: 5 !important;
	}

	[order-6] {
		order: 6 !important;
	}

	[order-7] {
		order: 7 !important;
	}

	[order-8] {
		order: 8 !important;
	}

	[order-9] {
		order: 9 !important;
	}

	[order-last] {
		order: 777 !important;
	}

	row[center-x],
	[row][center-x],
	column[center-y],
	[column][center-y] {
		justify-content: center;
	}

	row[center-y],
	[row][center-y],
	column[center-x],
	[column][center-x] {
		align-items: center;
	}

	row[center],
	[row][center],
	column[center],
	[column][center] {
		align-items: center;
		justify-content: center;
	}

	container,
	[container] {
		width: 100%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	container[center],
	[container][center] {
		min-height: 100%;
	}

	[c] {
		flex: 1 0 0%;
	}

	[c-1] {
		flex: 0 0 auto;
		--c-width: 8.3333333333%;
		width: var(--c-width);
	}

	[c-2] {
		flex: 0 0 auto;
		--c-width: 16.6666666667%;
		width: var(--c-width);
	}

	[c-3] {
		flex: 0 0 auto;
		--c-width: 25%;
		width: var(--c-width);
	}

	[c-4] {
		flex: 0 0 auto;
		--c-width: 33.3333333333%;
		width: var(--c-width);
	}

	[c-5] {
		flex: 0 0 auto;
		--c-width: 41.6666666667%;
		width: var(--c-width);
	}

	[c-6] {
		flex: 0 0 auto;
		--c-width: 50%;
		width: var(--c-width);
	}

	[c-7] {
		flex: 0 0 auto;
		--c-width: 58.3333333333%;
		width: var(--c-width);
	}

	[c-8] {
		flex: 0 0 auto;
		--c-width: 66.6666666667%;
		width: var(--c-width);
	}

	[c-9] {
		flex: 0 0 auto;
		--c-width: 75%;
		width: var(--c-width);
	}

	[c-10] {
		flex: 0 0 auto;
		--c-width: 83.3333333333%;
		width: var(--c-width);
	}

	[c-11] {
		flex: 0 0 auto;
		--c-width: 91.6666666667%;
		width: var(--c-width);
	}

	[c-12] {
		flex: 0 0 auto;
		--c-width: 100%;
		width: var(--c-width);
	}
}

@media (min-width: 576px) {
	[text-align-s-left] {
		text-align: left !important;
	}

	[text-align-s-right] {
		text-align: right !important;
	}

	[text-align-s-center] {
		text-align: center !important;
	}

	flex,
	[flex-s] {
		display: flex;
	}

	inline,
	[inline-s] {
		display: inline-flex;
	}

	row,
	[row-s] {
		display: flex !important;
		flex-direction: row;
		width: 100%;
	}

	column,
	[column-s] {
		display: flex !important;
		flex-direction: column;
		width: 100%;
	}

	[top-s] {
		margin-bottom: auto;
	}

	[bottom-s] {
		margin-top: auto;
	}

	[left-s] {
		margin-right: auto;
	}

	[right-s] {
		margin-left: auto;
	}

	[wrap-s] {
		flex-wrap: wrap;
	}

	[wrap-reverse-s] {
		flex-wrap: wrap-reverse;
	}

	[no-wrap-s] {
		flex-wrap: nowrap;
	}

	[justify-content-s-start] {
		justify-content: flex-start;
	}

	[justify-content-s-end] {
		justify-content: flex-end;
	}

	[justify-content-s-center] {
		justify-content: center;
	}

	[justify-content-s-between] {
		justify-content: space-between;
	}

	[justify-content-s-around] {
		justify-content: space-around;
	}

	[justify-content-s-evenly] {
		justify-content: space-evenly;
	}

	[align-items-s-start] {
		align-items: flex-start;
	}

	[align-items-s-end] {
		align-items: flex-end;
	}

	[align-items-s-center] {
		align-items: center;
	}

	[align-items-s-baseline] {
		align-items: baseline;
	}

	[align-items-s-stretch] {
		align-items: stretch;
	}

	[align-self-s-start] {
		align-self: flex-start;
	}

	[align-self-s-end] {
		align-self: flex-end;
	}

	[align-self-s-center] {
		align-self: center;
	}

	[align-self-s-baseline] {
		align-self: baseline;
	}

	[align-self-s-stretch] {
		align-self: stretch;
	}

	[align-content-s-start] {
		align-content: flex-start;
	}

	[align-content-s-end] {
		align-content: flex-end;
	}

	[align-content-s-center] {
		align-content: center;
	}

	[align-content-s-around] {
		align-content: space-around;
	}

	[align-content-s-stretch] {
		align-content: stretch;
	}

	[flex-grow-s-0] {
		flex-grow: 0 !important;
	}

	[flex-grow-s-1] {
		flex-grow: 1 !important;
	}

	[flex-shrink-s-0] {
		flex-shrink: 0 !important;
	}

	[flex-shrink-s-1] {
		flex-shrink: 1 !important;
	}

	[fill-s] {
		flex-grow: 1 !important;
    	flex-shrink: 1 !important;
    	flex-basis: auto !important;
	}

	[fixed-s] {
		flex-grow: 0 !important;
		flex-shrink: 0 !important;
	}

	[order-first-s] {
		order: -1 !important;
	}

	[order-1-s] {
		order: 1 !important;
	}

	[order-2-s] {
		order: 2 !important;
	}

	[order-3-s] {
		order: 3 !important;
	}

	[order-4-s] {
		order: 4 !important;
	}

	[order-5-s] {
		order: 5 !important;
	}

	[order-6-s] {
		order: 6 !important;
	}

	[order-7-s] {
		order: 7 !important;
	}

	[order-8-s] {
		order: 8 !important;
	}

	[order-9-s] {
		order: 9 !important;
	}

	[order-last-s] {
		order: 777 !important;
	}

	[row-s][center-x],
	[column-s][center-y] {
		justify-content: center !important;
		align-items: inherit !important;
	}

	[row-s][center-y],
	[column-s][center-x] {
		align-items: center;
		justify-content: inherit !important;
	}

	[row-s][center],
	[column-s][center] {
		align-items: center !important;
		justify-content: center !important;
	}

	container,
	[container] {
	    max-width: 540px;
	}

	container[center],
	[container][center] {
		min-height: 100%;
	}

	[c-s] {
		flex: 1 0 0%;
	}

	[c-s-1] {
		flex: 0 0 auto;
		--c-width: 8.3333333333%;
		width: var(--c-width);
	}

	[c-s-2] {
		flex: 0 0 auto;
		--c-width: 16.6666666667%;
		width: var(--c-width);
	}

	[c-s-3] {
		flex: 0 0 auto;
		--c-width: 25%;
		width: var(--c-width);
	}

	[c-s-4] {
		flex: 0 0 auto;
		--c-width: 33.3333333333%;
		width: var(--c-width);
	}

	[c-s-5] {
		flex: 0 0 auto;
		--c-width: 41.6666666667%;
		width: var(--c-width);
	}

	[c-s-6] {
		flex: 0 0 auto;
		--c-width: 50%;
		width: var(--c-width);
	}

	[c-s-7] {
		flex: 0 0 auto;
		--c-width: 58.3333333333%;
		width: var(--c-width);
	}

	[c-s-8] {
		flex: 0 0 auto;
		--c-width: 66.6666666667%;
		width: var(--c-width);
	}

	[c-s-9] {
		flex: 0 0 auto;
		--c-width: 75%;
		width: var(--c-width);
	}

	[c-s-10] {
		flex: 0 0 auto;
		--c-width: 83.3333333333%;
		width: var(--c-width);
	}

	[c-s-11] {
		flex: 0 0 auto;
		--c-width: 91.6666666667%;
		width: var(--c-width);
	}

	[c-s-12] {
		flex: 0 0 auto;
		--c-width: 100%;
		width: var(--c-width);
	}
}

@media (min-width: 768px) {
	[text-align-m-left] {
		text-align: left !important;
	}

	[text-align-m-right] {
		text-align: right !important;
	}

	[text-align-m-center] {
		text-align: center !important;
	}

	flex,
	[flex-m] {
		display: flex;
	}

	inline,
	[inline-m] {
		display: inline-flex;
	}

	row,
	[row-m] {
		display: flex !important;
		flex-direction: row;
		width: 100%;
	}

	column,
	[column-m] {
		display: flex !important;
		flex-direction: column;
		width: 100%;
	}

	[top-m] {
		margin-bottom: auto;
	}

	[bottom-m] {
		margin-top: auto;
	}

	[left-m] {
		margin-right: auto;
	}

	[right-m] {
		margin-left: auto;
	}

	[wrap-m] {
		flex-wrap: wrap;
	}

	[wrap-reverse-m] {
		flex-wrap: wrap-reverse;
	}

	[no-wrap-m] {
		flex-wrap: nowrap;
	}

	[justify-content-m-start] {
		justify-content: flex-start;
	}

	[justify-content-m-end] {
		justify-content: flex-end;
	}

	[justify-content-m-center] {
		justify-content: center;
	}

	[justify-content-m-between] {
		justify-content: space-between;
	}

	[justify-content-m-around] {
		justify-content: space-around;
	}

	[justify-content-m-evenly] {
		justify-content: space-evenly;
	}

	[align-items-m-start] {
		align-items: flex-start;
	}

	[align-items-m-end] {
		align-items: flex-end;
	}

	[align-items-m-center] {
		align-items: center;
	}

	[align-items-m-baseline] {
		align-items: baseline;
	}

	[align-items-m-stretch] {
		align-items: stretch;
	}

	[align-self-m-start] {
		align-self: flex-start;
	}

	[align-self-m-end] {
		align-self: flex-end;
	}

	[align-self-m-center] {
		align-self: center;
	}

	[align-self-m-baseline] {
		align-self: baseline;
	}

	[align-self-m-stretch] {
		align-self: stretch;
	}

	[align-content-m-start] {
		align-content: flex-start;
	}

	[align-content-m-end] {
		align-content: flex-end;
	}

	[align-content-m-center] {
		align-content: center;
	}

	[align-content-m-around] {
		align-content: space-around;
	}

	[align-content-m-stretch] {
		align-content: stretch;
	}

	[flex-grow-m-0] {
		flex-grow: 0 !important;
	}

	[flex-grow-m-1] {
		flex-grow: 1 !important;
	}

	[flex-shrink-m-0] {
		flex-shrink: 0 !important;
	}

	[flex-shrink-m-1] {
		flex-shrink: 1 !important;
	}

	[fill-m] {
		flex-grow: 1 !important;
    	flex-shrink: 1 !important;
    	flex-basis: auto !important;
	}

	[fixed-m] {
		flex-grow: 0 !important;
		flex-shrink: 0 !important;
	}

	[order-first-m] {
		order: -1 !important;
	}

	[order-1-m] {
		order: 1 !important;
	}

	[order-2-m] {
		order: 2 !important;
	}

	[order-3-m] {
		order: 3 !important;
	}

	[order-4-m] {
		order: 4 !important;
	}

	[order-5-m] {
		order: 5 !important;
	}

	[order-6-m] {
		order: 6 !important;
	}

	[order-7-m] {
		order: 7 !important;
	}

	[order-8-m] {
		order: 8 !important;
	}

	[order-9-m] {
		order: 9 !important;
	}

	[order-last-m] {
		order: 777 !important;
	}

	[row-m][center-x],
	[column-m][center-y] {
		justify-content: center !important;
		align-items: inherit !important;
	}

	[row-m][center-y],
	[column-m][center-x] {
		align-items: center;
		justify-content: inherit !important;
	}

	[row-m][center],
	[column-m][center] {
		align-items: center !important;
		justify-content: center !important;
	}

	container,
	[container] {
	    max-width: 720px;
	}

	container[center],
	[container][center] {
		min-height: 100%;
	}

	[c-m] {
		flex: 1 0 0%;
	}

	[c-m-1] {
		flex: 0 0 auto;
		--c-width: 8.3333333333%;
		width: var(--c-width);
	}

	[c-m-2] {
		flex: 0 0 auto;
		--c-width: 16.6666666667%;
		width: var(--c-width);
	}

	[c-m-3] {
		flex: 0 0 auto;
		--c-width: 25%;
		width: var(--c-width);
	}

	[c-m-4] {
		flex: 0 0 auto;
		--c-width: 33.3333333333%;
		width: var(--c-width);
	}

	[c-m-5] {
		flex: 0 0 auto;
		--c-width: 41.6666666667%;
		width: var(--c-width);
	}

	[c-m-6] {
		flex: 0 0 auto;
		--c-width: 50%;
		width: var(--c-width);
	}

	[c-m-7] {
		flex: 0 0 auto;
		--c-width: 58.3333333333%;
		width: var(--c-width);
	}

	[c-m-8] {
		flex: 0 0 auto;
		--c-width: 66.6666666667%;
		width: var(--c-width);
	}

	[c-m-9] {
		flex: 0 0 auto;
		--c-width: 75%;
		width: var(--c-width);
	}

	[c-m-10] {
		flex: 0 0 auto;
		--c-width: 83.3333333333%;
		width: var(--c-width);
	}

	[c-m-11] {
		flex: 0 0 auto;
		--c-width: 91.6666666667%;
		width: var(--c-width);
	}

	[c-m-12] {
		flex: 0 0 auto;
		--c-width: 100%;
		width: var(--c-width);
	}
}

@media (min-width: 992px) {
	[text-align-l-left] {
		text-align: left !important;
	}

	[text-align-l-right] {
		text-align: right !important;
	}

	[text-align-l-center] {
		text-align: center !important;
	}

	flex,
	[flex-l] {
		display: flex;
	}

	inline,
	[inline-l] {
		display: inline-flex;
	}

	row,
	[row-l] {
		display: flex !important;
		flex-direction: row;
		width: 100%;
	}

	column,
	[column-l] {
		display: flex !important;
		flex-direction: column;
		width: 100%;
	}

	[top-l] {
		margin-bottom: auto;
	}

	[bottom-l] {
		margin-top: auto;
	}

	[left-l] {
		margin-right: auto;
	}

	[right-l] {
		margin-left: auto;
	}

	[wrap-l] {
		flex-wrap: wrap;
	}

	[wrap-reverse-l] {
		flex-wrap: wrap-reverse;
	}

	[no-wrap-l] {
		flex-wrap: nowrap;
	}

	[justify-content-l-start] {
		justify-content: flex-start;
	}

	[justify-content-l-end] {
		justify-content: flex-end;
	}

	[justify-content-l-center] {
		justify-content: center;
	}

	[justify-content-l-between] {
		justify-content: space-between;
	}

	[justify-content-l-around] {
		justify-content: space-around;
	}

	[justify-content-l-evenly] {
		justify-content: space-evenly;
	}

	[align-items-l-start] {
		align-items: flex-start;
	}

	[align-items-l-end] {
		align-items: flex-end;
	}

	[align-items-l-center] {
		align-items: center;
	}

	[align-items-l-baseline] {
		align-items: baseline;
	}

	[align-items-l-stretch] {
		align-items: stretch;
	}

	[align-self-l-start] {
		align-self: flex-start;
	}

	[align-self-l-end] {
		align-self: flex-end;
	}

	[align-self-l-center] {
		align-self: center;
	}

	[align-self-l-baseline] {
		align-self: baseline;
	}

	[align-self-l-stretch] {
		align-self: stretch;
	}

	[align-content-l-start] {
		align-content: flex-start;
	}

	[align-content-l-end] {
		align-content: flex-end;
	}

	[align-content-l-center] {
		align-content: center;
	}

	[align-content-l-around] {
		align-content: space-around;
	}

	[align-content-l-stretch] {
		align-content: stretch;
	}

	[flex-grow-l-0] {
		flex-grow: 0 !important;
	}

	[flex-grow-l-1] {
		flex-grow: 1 !important;
	}

	[flex-shrink-l-0] {
		flex-shrink: 0 !important;
	}

	[flex-shrink-l-1] {
		flex-shrink: 1 !important;
	}

	[fill-l] {
		flex-grow: 1 !important;
    	flex-shrink: 1 !important;
    	flex-basis: auto !important;
	}

	[fixed-l] {
		flex-grow: 0 !important;
		flex-shrink: 0 !important;
	}

	[order-first-l] {
		order: -1 !important;
	}

	[order-1-l] {
		order: 1 !important;
	}

	[order-2-l] {
		order: 2 !important;
	}

	[order-3-l] {
		order: 3 !important;
	}

	[order-4-l] {
		order: 4 !important;
	}

	[order-5-l] {
		order: 5 !important;
	}

	[order-6-l] {
		order: 6 !important;
	}

	[order-7-l] {
		order: 7 !important;
	}

	[order-8-l] {
		order: 8 !important;
	}

	[order-9-l] {
		order: 9 !important;
	}

	[order-last-l] {
		order: 777 !important;
	}

	[row-l][center-x],
	[column-l][center-y] {
		justify-content: center !important;
		align-items: inherit !important;
	}

	[row-l][center-y],
	[column-l][center-x] {
		align-items: center;
		justify-content: inherit !important;
	}

	[row-l][center],
	[column-l][center] {
		align-items: center !important;
		justify-content: center !important;
	}

	container,
	[container] {
	    max-width: 960px;
	}

	container[center],
	[container][center] {
		min-height: 100%;
	}

	[c-l] {
		flex: 1 0 0%;
	}

	[c-l-1] {
		flex: 0 0 auto;
		--c-width: 8.3333333333%;
		width: var(--c-width);
	}

	[c-l-2] {
		flex: 0 0 auto;
		--c-width: 16.6666666667%;
		width: var(--c-width);
	}

	[c-l-3] {
		flex: 0 0 auto;
		--c-width: 25%;
		width: var(--c-width);
	}

	[c-l-4] {
		flex: 0 0 auto;
		--c-width: 33.3333333333%;
		width: var(--c-width);
	}

	[c-l-5] {
		flex: 0 0 auto;
		--c-width: 41.6666666667%;
		width: var(--c-width);
	}

	[c-l-6] {
		flex: 0 0 auto;
		--c-width: 50%;
		width: var(--c-width);
	}

	[c-l-7] {
		flex: 0 0 auto;
		--c-width: 58.3333333333%;
		width: var(--c-width);
	}

	[c-l-8] {
		flex: 0 0 auto;
		--c-width: 66.6666666667%;
		width: var(--c-width);
	}

	[c-l-9] {
		flex: 0 0 auto;
		--c-width: 75%;
		width: var(--c-width);
	}

	[c-l-10] {
		flex: 0 0 auto;
		--c-width: 83.3333333333%;
		width: var(--c-width);
	}

	[c-l-11] {
		flex: 0 0 auto;
		--c-width: 91.6666666667%;
		width: var(--c-width);
	}

	[c-l-12] {
		flex: 0 0 auto;
		--c-width: 100%;
		width: var(--c-width);
	}
}

@media (min-width: 1200px) {
	[text-align-x-left] {
		text-align: left !important;
	}

	[text-align-x-right] {
		text-align: right !important;
	}

	[text-align-x-center] {
		text-align: center !important;
	}

	flex,
	[flex-x] {
		display: flex;
	}

	inline,
	[inline-x] {
		display: inline-flex;
	}

	row,
	[row-x] {
		display: flex !important;
		flex-direction: row;
		width: 100%;
	}

	column,
	[column-x] {
		display: flex !important;
		flex-direction: column;
		width: 100%;
	}

	[top-x] {
		margin-bottom: auto;
	}

	[bottom-x] {
		margin-top: auto;
	}

	[left-x] {
		margin-right: auto;
	}

	[right-x] {
		margin-left: auto;
	}

	[wrap-x] {
		flex-wrap: wrap;
	}

	[wrap-reverse-x] {
		flex-wrap: wrap-reverse;
	}

	[no-wrap-x] {
		flex-wrap: nowrap;
	}

	[justify-content-x-start] {
		justify-content: flex-start;
	}

	[justify-content-x-end] {
		justify-content: flex-end;
	}

	[justify-content-x-center] {
		justify-content: center;
	}

	[justify-content-x-between] {
		justify-content: space-between;
	}

	[justify-content-x-around] {
		justify-content: space-around;
	}

	[justify-content-x-evenly] {
		justify-content: space-evenly;
	}

	[align-items-x-start] {
		align-items: flex-start;
	}

	[align-items-x-end] {
		align-items: flex-end;
	}

	[align-items-x-center] {
		align-items: center;
	}

	[align-items-x-baseline] {
		align-items: baseline;
	}

	[align-items-x-stretch] {
		align-items: stretch;
	}

	[align-self-x-start] {
		align-self: flex-start;
	}

	[align-self-x-end] {
		align-self: flex-end;
	}

	[align-self-x-center] {
		align-self: center;
	}

	[align-self-x-baseline] {
		align-self: baseline;
	}

	[align-self-x-stretch] {
		align-self: stretch;
	}

	[align-content-x-start] {
		align-content: flex-start;
	}

	[align-content-x-end] {
		align-content: flex-end;
	}

	[align-content-x-center] {
		align-content: center;
	}

	[align-content-x-around] {
		align-content: space-around;
	}

	[align-content-x-stretch] {
		align-content: stretch;
	}

	[flex-grow-x-0] {
		flex-grow: 0 !important;
	}

	[flex-grow-x-1] {
		flex-grow: 1 !important;
	}

	[flex-shrink-x-0] {
		flex-shrink: 0 !important;
	}

	[flex-shrink-x-1] {
		flex-shrink: 1 !important;
	}

	[fill-x] {
		flex-grow: 1 !important;
    	flex-shrink: 1 !important;
    	flex-basis: auto !important;
	}

	[fixed-x] {
		flex-grow: 0 !important;
		flex-shrink: 0 !important;
	}

	[order-first-x] {
		order: -1 !important;
	}

	[order-1-x] {
		order: 1 !important;
	}

	[order-2-x] {
		order: 2 !important;
	}

	[order-3-x] {
		order: 3 !important;
	}

	[order-4-x] {
		order: 4 !important;
	}

	[order-5-x] {
		order: 5 !important;
	}

	[order-6-x] {
		order: 6 !important;
	}

	[order-7-x] {
		order: 7 !important;
	}

	[order-8-x] {
		order: 8 !important;
	}

	[order-9-x] {
		order: 9 !important;
	}

	[order-last-x] {
		order: 666 !important;
	}

	[row-x][center-x],
	[column-x][center-y] {
		justify-content: center !important;
		align-items: inherit !important;
	}

	[row-x][center-y],
	[column-x][center-x] {
		align-items: center;
		justify-content: inherit !important;
	}

	[row-x][center],
	[column-x][center] {
		align-items: center !important;
		justify-content: center !important;
	}

	container,
	[container] {
	    max-width: 1140px;
	}

	container[center],
	[container][center] {
		min-height: 100%;
	}

	[c-x] {
		flex: 1 0 0%;
	}

	[c-x-1] {
		flex: 0 0 auto;
		--c-width: 8.3333333333%;
		width: var(--c-width);
	}

	[c-x-2] {
		flex: 0 0 auto;
		--c-width: 16.6666666667%;
		width: var(--c-width);
	}

	[c-x-3] {
		flex: 0 0 auto;
		--c-width: 25%;
		width: var(--c-width);
	}

	[c-x-4] {
		flex: 0 0 auto;
		--c-width: 33.3333333333%;
		width: var(--c-width);
	}

	[c-x-5] {
		flex: 0 0 auto;
		--c-width: 41.6666666667%;
		width: var(--c-width);
	}

	[c-x-6] {
		flex: 0 0 auto;
		--c-width: 50%;
		width: var(--c-width);
	}

	[c-x-7] {
		flex: 0 0 auto;
		--c-width: 58.3333333333%;
		width: var(--c-width);
	}

	[c-x-8] {
		flex: 0 0 auto;
		--c-width: 66.6666666667%;
		width: var(--c-width);
	}

	[c-x-9] {
		flex: 0 0 auto;
		--c-width: 75%;
		width: var(--c-width);
	}

	[c-x-10] {
		flex: 0 0 auto;
		--c-width: 83.3333333333%;
		width: var(--c-width);
	}

	[c-x-11] {
		flex: 0 0 auto;
		--c-width: 91.6666666667%;
		width: var(--c-width);
	}

	[c-x-12] {
		flex: 0 0 auto;
		--c-width: 100%;
		width: var(--c-width);
	}
}

/* --- */

body in {
	--temp: var(--spaces) !important;
}

body set {
	width: calc(100%) !important;
	display: flex;
}

body set[single] {
	width: calc(100% + var(--spaces)) !important;
}

body set in > *:not(set) {
	margin-right: var(--spaces) !important;
	width: calc(var(--c-width) - var(--spaces)) !important;
}

body set in > *:not(set):last-child {
	margin-right: 0 !important;
}

body set set {
	width: calc(var(--c-width) + var(--spaces)) !important;
	margin-right: calc(var(--spaces) * -1) !important;
}

body set set + *:not(set):not(in) {
	margin-left: var(--spaces) !important;
}

body set set set {
	width: calc(var(--c-width) + var(--spaces) - var(--temp)) !important;
}

body set set set + set {
    margin-left: var(--temp) !important;
}

/* ...and up */

@media (min-width: 0) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* ...and down */

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

/* Single segments */

@media (min-width: 0) {}

@media (min-width: 0) and (max-width: 576px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}